openapi: 3.0.3
info:
  title: Kişisel Kütüphane ve Kitap Yönetim API'si
  version: 1.0.0
  description: >
    Bu API, kullanıcıların kişisel kütüphanelerini yönetebileceği, kitap keşfedebileceği
    ve yapay zeka destekli öneriler alabileceği bir RESTful servistir. Temel CRUD
    (Create, Read, Update, Delete) işlemlerini destekler. Kullanıcılar kitapları
    arayabilir, favorilerine ekleyebilir ve puanlayabilir. Yapay zeka modülü sayesinde
    kişiselleştirilmiş kitap önerileri, otomatik özet oluşturma ve okuma alışkanlığı
    analizi sunulmaktadır. API, JWT tabanlı kimlik doğrulama ile korunmaktadır.
  contact:
    name: Barış Saylık
    email: barissaylik@sdu.edu.tr

servers:
  - url: https://api.vercel.com
    description: Üretim sunucusu (Production)
  - url: https://staging-api.vercel.com
    description: Test sunucusu (Staging)
  - url: https://localhost:3000
    description: Yerel geliştirme sunucusu (Development)

tags:
  - name: Kimlik Doğrulama
    description: Kullanıcı kayıt, giriş ve oturum yönetimi işlemleri
  - name: Kullanıcılar
    description: Kullanıcı profil görüntüleme, güncelleme ve silme işlemleri
  - name: Kitaplar
    description: Kitap ekleme, listeleme, arama, filtreleme, güncelleme ve silme işlemleri
  - name: Favoriler
    description: Kullanıcının favori kitap listesine ekleme ve yönetme işlemleri
  - name: Puanlama
    description: Kitaplara puan verme ve değerlendirme işlemleri
  - name: Yapay Zeka
    description: Kişiselleştirilmiş öneri, otomatik özet oluşturma ve okuma analizi işlemleri

security:
  - BearerAuth: []

paths:

  # ── KİMLİK DOĞRULAMA ──────────────────────────────────────────────────────

  /auth/register:
    post:
      tags:
        - Kimlik Doğrulama
      summary: Üye Ol
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterInput'
      responses:
        "201":
          description: Kullanıcı başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Bu e-posta adresi zaten kullanılıyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Kimlik Doğrulama
      summary: Giriş Yap
      operationId: loginUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInput'
      responses:
        "200":
          description: Giriş başarılı, JWT token döndürüldü
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: E-posta veya şifre hatalı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── KULLANICILAR ───────────────────────────────────────────────────────────

  /users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        description: Kullanıcının benzersiz kimlik numarası
        schema:
          type: string
        example: "usr001"

    get:
      tags:
        - Kullanıcılar
      summary: Profil Görüntüle
      operationId: getUser
      responses:
        "200":
          description: Kullanıcı profili başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kullanıcı bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Kullanıcılar
      summary: Profil Güncelle
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateInput'
      responses:
        "200":
          description: Kullanıcı profili başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kullanıcı bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Kullanıcılar
      summary: Hesap Sil
      operationId: deleteUser
      responses:
        "204":
          description: Kullanıcı hesabı başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kullanıcı bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── KİTAPLAR ──────────────────────────────────────────────────────────────

  /books:
    post:
      tags:
        - Kitaplar
      summary: Kitap Ekle
      operationId: addBook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookInput'
      responses:
        "201":
          description: Kitap başarıyla eklendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Kitaplar
      summary: Kitapları Listele
      operationId: listBooks
      parameters:
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Kitaplar başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /books/search:
    get:
      tags:
        - Kitaplar
      summary: Kitap Ara
      operationId: searchBooks
      parameters:
        - name: query
          in: query
          required: true
          description: Aranacak anahtar kelime (kitap adı, yazar adı veya ISBN)
          schema:
            type: string
          example: "Suç ve Ceza"
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Arama sonuçları başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
        "400":
          description: Geçersiz arama parametresi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /books/filter:
    get:
      tags:
        - Kitaplar
      summary: Kitapları Filtrele
      operationId: filterBooks
      parameters:
        - name: genre
          in: query
          required: true
          description: Filtrelenecek tür (Roman, Bilim Kurgu, Tarih, Polisiye vb.)
          schema:
            type: string
          example: "Bilim Kurgu"
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Filtrelenmiş kitaplar başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
        "400":
          description: Geçersiz filtre parametresi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /books/{bookId}:
    parameters:
      - name: bookId
        in: path
        required: true
        description: Kitabın benzersiz kimlik numarası
        schema:
          type: string
        example: "book123"

    get:
      tags:
        - Kitaplar
      summary: Kitap Detaylarını Görüntüle
      operationId: getBook
      responses:
        "200":
          description: Kitap detayları başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kitap bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Kitaplar
      summary: Kitap Güncelle
      operationId: updateBook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookInput'
      responses:
        "200":
          description: Kitap başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kitap bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Kitaplar
      summary: Kitap Sil
      operationId: deleteBook
      responses:
        "204":
          description: Kitap başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kitap bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── PUANLAMA ──────────────────────────────────────────────────────────────

  /books/{bookId}/ratings:
    parameters:
      - name: bookId
        in: path
        required: true
        description: Puanlanacak kitabın benzersiz kimlik numarası
        schema:
          type: string
        example: "book123"

    post:
      tags:
        - Puanlama
      summary: Kitap Puanla
      operationId: rateBook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingInput'
      responses:
        "201":
          description: Puan başarıyla kaydedildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kitap bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Bu kitabı zaten puanladınız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── FAVORİLER ─────────────────────────────────────────────────────────────

  /users/favorites/{bookId}:
    parameters:
      - name: bookId
        in: path
        required: true
        description: Favorilere eklenecek kitabın benzersiz kimlik numarası
        schema:
          type: string
        example: "book123"

    post:
      tags:
        - Favoriler
      summary: Favorilere Ekle
      operationId: addFavorite
      responses:
        "201":
          description: Kitap favorilere başarıyla eklendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteResponse'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kitap bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Kitap zaten favorilerde mevcut
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── YAPAY ZEKA ────────────────────────────────────────────────────────────

  /ai/recommendations/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        description: Önerilerin üretileceği kullanıcının benzersiz kimlik numarası
        schema:
          type: string
        example: "usr001"

    get:
      tags:
        - Yapay Zeka
      summary: Kişiselleştirilmiş Kitap Önerisi Al
      operationId: getRecommendations
      responses:
        "200":
          description: Kişiselleştirilmiş kitap önerileri başarıyla üretildi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kullanıcı bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ai/summarize:
    post:
      tags:
        - Yapay Zeka
      summary: Otomatik Kitap Özeti Oluştur
      operationId: summarizeBook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizeInput'
      responses:
        "200":
          description: Özet başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizeResponse'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ai/analysis/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        description: Okuma analizi yapılacak kullanıcının benzersiz kimlik numarası
        schema:
          type: string
        example: "usr001"

    get:
      tags:
        - Yapay Zeka
      summary: Okuma Alışkanlığı Analizi Al
      operationId: getReadingAnalysis
      responses:
        "200":
          description: Okuma alışkanlığı analizi başarıyla üretildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingAnalysis'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Kullanıcı bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# ── COMPONENTS ────────────────────────────────────────────────────────────────

components:
  securitySchemes:
    BearerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'JWT tabanlı kimlik doğrulama. İstek başlığına "Authorization: Bearer <token>" eklenmeli.'

  schemas:

    # ── KULLANICI ŞEMALARI ─────────────────────────────────────────────────

    User:
      type: object
      description: Kullanıcı bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Kullanıcının benzersiz kimlik numarası (otomatik atanır)
          example: "usr001"
        firstName:
          type: string
          description: Kullanıcının adı
          example: "Barış"
        lastName:
          type: string
          description: Kullanıcının soyadı
          example: "Saylık"
        email:
          type: string
          format: email
          description: Kullanıcının e-posta adresi
          example: "baris@example.com"
        phone:
          type: string
          description: Kullanıcının telefon numarası
          example: "+90 555 123 4567"
        createdAt:
          type: string
          format: date-time
          description: Hesabın oluşturulma tarihi (ISO 8601 formatında)
          example: "2026-01-10T09:00:00Z"
      required:
        - firstName
        - lastName
        - email

    RegisterInput:
      type: object
      description: Yeni kullanıcı kaydı için gönderilecek veri
      properties:
        firstName:
          type: string
          description: Kullanıcının adı
          minLength: 2
          maxLength: 50
          example: "Barış"
        lastName:
          type: string
          description: Kullanıcının soyadı
          minLength: 2
          maxLength: 50
          example: "Saylık"
        email:
          type: string
          format: email
          description: Kullanıcının e-posta adresi
          example: "barissaylik247@gmail.com"
        password:
          type: string
          format: password
          description: Kullanıcının şifresi (en az 8 karakter)
          minLength: 8
          example: "Gizli1234!"
        phone:
          type: string
          description: Kullanıcının telefon numarası (opsiyonel)
          example: "+90 555 123 4567"
      required:
        - firstName
        - lastName
        - email
        - password

    LoginInput:
      type: object
      description: Giriş işlemi için gönderilecek veri
      properties:
        email:
          type: string
          format: email
          description: Kayıtlı e-posta adresi
          example: "barissaylik247@gmail.com"
        password:
          type: string
          format: password
          description: Kullanıcı şifresi
          example: "Gizli1234!"
      required:
        - email
        - password

    AuthToken:
      type: object
      description: Başarılı giriş sonrası döndürülen kimlik doğrulama token'ı
      properties:
        token:
          type: string
          description: JWT erişim token'ı
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        expiresIn:
          type: integer
          description: Token geçerlilik süresi (saniye cinsinden)
          example: 86400
      required:
        - token
        - expiresIn

    UserUpdateInput:
      type: object
      description: Kullanıcı profil güncelleme isteği için gönderilecek veri
      properties:
        firstName:
          type: string
          description: Kullanıcının adı
          minLength: 2
          maxLength: 50
          example: "Barış"
        lastName:
          type: string
          description: Kullanıcının soyadı
          minLength: 2
          maxLength: 50
          example: "Saylık"
        email:
          type: string
          format: email
          description: Kullanıcının e-posta adresi
          example: "baris@example.com"
        phone:
          type: string
          description: Kullanıcının telefon numarası
          example: "+90 555 123 4567"

    # ── KİTAP ŞEMALARI ────────────────────────────────────────────────────

    Book:
      type: object
      description: Kitap bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Kitabın benzersiz kimlik numarası (otomatik atanır)
          example: "book123"
        title:
          type: string
          description: Kitabın adı
          example: "Suç ve Ceza"
        author:
          type: string
          description: Kitabın yazarı
          example: "Fyodor Dostoyevski"
        isbn:
          type: string
          description: Kitabın ISBN numarası
          example: "978-975-10-3441-2"
        pageCount:
          type: integer
          description: Kitabın sayfa sayısı
          example: 687
        publishYear:
          type: integer
          description: Kitabın yayın yılı
          example: 1866
        genre:
          type: string
          description: Kitabın türü
          example: "Roman"
        coverImage:
          type: string
          format: uri
          description: Kitap kapak görseli URL'si
          example: "https://cdn.example.com/covers/suc-ve-ceza.jpg"
        description:
          type: string
          description: Kitabın açıklaması / özeti
          example: "Bir öğrencinin cinayet işlemesini ve psikolojik çöküşünü anlatan klasik bir roman."
        averageRating:
          type: number
          format: float
          description: Kullanıcı değerlendirmelerine göre hesaplanan ortalama puan (1-5)
          minimum: 1
          maximum: 5
          example: 4.7
        createdAt:
          type: string
          format: date-time
          description: Kitabın sisteme eklenme tarihi (ISO 8601 formatında)
          example: "2026-01-15T10:00:00Z"
      required:
        - title
        - author

    BookInput:
      type: object
      description: Kitap ekleme veya güncelleme isteği için gönderilecek veri
      properties:
        title:
          type: string
          description: Kitabın adı
          minLength: 1
          maxLength: 200
          example: "Suç ve Ceza"
        author:
          type: string
          description: Kitabın yazarı
          minLength: 2
          maxLength: 100
          example: "Fyodor Dostoyevski"
        isbn:
          type: string
          description: Kitabın ISBN numarası
          example: "978-975-10-3441-2"
        pageCount:
          type: integer
          description: Kitabın sayfa sayısı
          minimum: 1
          example: 687
        publishYear:
          type: integer
          description: Kitabın yayın yılı
          minimum: 1000
          maximum: 2100
          example: 1866
        genre:
          type: string
          description: Kitabın türü (Roman, Bilim Kurgu, Tarih, Polisiye vb.)
          example: "Roman"
        coverImage:
          type: string
          format: uri
          description: Kitap kapak görseli URL'si
          example: "https://cdn.example.com/covers/suc-ve-ceza.jpg"
        description:
          type: string
          description: Kitabın açıklaması / özeti
          maxLength: 2000
          example: "Bir öğrencinin cinayet işlemesini ve psikolojik çöküşünü anlatan klasik bir roman."
      required:
        - title
        - author

    # ── PUANLAMA ŞEMALARI ─────────────────────────────────────────────────

    Rating:
      type: object
      description: Kullanıcının bir kitaba verdiği puanı temsil eden model
      properties:
        _id:
          type: string
          description: Puanın benzersiz kimlik numarası (otomatik atanır)
          example: "rat789"
        userId:
          type: string
          description: Puanı veren kullanıcının kimlik numarası
          example: "usr001"
        bookId:
          type: string
          description: Puanlanan kitabın kimlik numarası
          example: "book123"
        score:
          type: integer
          description: Verilen puan (1-5 yıldız arası)
          minimum: 1
          maximum: 5
          example: 5
        createdAt:
          type: string
          format: date-time
          description: Puanın verildiği tarih (ISO 8601 formatında)
          example: "2026-03-01T18:45:00Z"
      required:
        - userId
        - bookId
        - score

    RatingInput:
      type: object
      description: Kitap puanlama isteği için gönderilecek veri
      properties:
        score:
          type: integer
          description: Verilecek puan (1-5 yıldız arası)
          minimum: 1
          maximum: 5
          example: 5
      required:
        - score

    # ── FAVORİ ŞEMALARI ───────────────────────────────────────────────────

    FavoriteResponse:
      type: object
      description: Favoriye ekleme işlemi sonrası döndürülen yanıt
      properties:
        message:
          type: string
          description: İşlem sonucunu açıklayan mesaj
          example: "Kitap favorilere başarıyla eklendi"
        bookId:
          type: string
          description: Favorilere eklenen kitabın kimlik numarası
          example: "book123"
        userId:
          type: string
          description: İşlemi gerçekleştiren kullanıcının kimlik numarası
          example: "usr001"
      required:
        - message
        - bookId
        - userId

    # ── YAPAY ZEKA ŞEMALARI ───────────────────────────────────────────────

    SummarizeInput:
      type: object
      description: Otomatik özet oluşturma isteği için gönderilecek veri
      properties:
        text:
          type: string
          description: Özetlenecek uzun kitap açıklaması veya kullanıcı notları
          minLength: 50
          example: "Bu kitap, 19. yüzyıl Rusya'sında geçmekte olup ana karakter Raskolnikov..."
        bookId:
          type: string
          description: Özet oluşturulacak kitabın kimlik numarası (opsiyonel)
          example: "book123"
      required:
        - text

    SummarizeResponse:
      type: object
      description: Yapay zeka tarafından oluşturulan özet yanıtı
      properties:
        summary:
          type: string
          description: Yapay zeka tarafından üretilen kısa ve akıcı özet metni
          example: "Raskolnikov, ahlaki üstünlüğünü kanıtlamak için işlediği cinayetin vicdani yüküyle yüzleşir."
        bookId:
          type: string
          description: Özetin oluşturulduğu kitabın kimlik numarası (varsa)
          example: "book123"
      required:
        - summary

    ReadingAnalysis:
      type: object
      description: Kullanıcının okuma alışkanlıklarını analiz eden yapay zeka çıktısı
      properties:
        userId:
          type: string
          description: Analiz edilen kullanıcının kimlik numarası
          example: "usr001"
        totalBooksRead:
          type: integer
          description: Kullanıcının tamamladığı toplam kitap sayısı
          example: 24
        totalPagesRead:
          type: integer
          description: Kullanıcının okuduğu toplam sayfa sayısı
          example: 7840
        favoriteGenre:
          type: string
          description: Kullanıcının en çok okuduğu tür
          example: "Bilim Kurgu"
        readingFrequency:
          type: string
          description: Kullanıcının okuma sıklığı açıklaması
          example: "Haftada ortalama 2 kitap"
        insights:
          type: array
          description: Yapay zekanın ürettiği kişiselleştirilmiş okuma içgörüleri
          items:
            type: string
          example:
            - "Genelde hafta sonları bilim kurgu okumayı seviyorsun."
            - "Son üç ayda polisiye türünde belirgin bir artış var."
      required:
        - userId
        - totalBooksRead
        - favoriteGenre
        - insights

    # ── HATA ŞEMASI ───────────────────────────────────────────────────────

    Error:
      type: object
      description: Hata durumlarında döndürülen standart hata yanıtı
      properties:
        message:
          type: string
          description: Hatayı açıklayan mesaj
          example: "Kitap bulunamadı"
      required:
        - message